---
enable_hostname: false
enable_powertools: false
enable_remap_user: false
enable_create_user: false
enable_exclude_packages: false
enable_kernel_5: false
enable_pam_limits: false
enable_grub: false
enable_cgroups: false
enable_journald: false
enable_install_software: false
enable_ansible_root_cron: false


# ansible_root_cron
ansible_root_cron:
  - name: "Prune unused Docker objects"
    weekday: "{{ 7 | random }}"
    minute: "{{ 60 | random }}"
    hour: "{{ 5 | random }}"
    job: "docker system prune -f"

# pam_limits:
pam_limits:
  - domain: galaxy
    type: hard
    item: fsize
    value: "{{ 1 * 1024 * 1024 * 1024 }}"  # 1 TB

# kernel_5
kernel_5_package: kernel-lt

# exclude_package_from_update
exclude_packages:
  "/etc/yum.repos.d/epel.repo": "condor*,npm*"

# remap_user
debug: false

# create_user
user_name: galaxy
user_uid: 999
user_group_name: galaxy
user_gid: 999

# grub
boot_options: "console=ttyS0"

# packages
software_groups_to_install:
  - admin
  - configuration
  - editors
  - utils
software_packages:
  admin:
    - htop
    - iotop
    - iftop
  apps:
    - apptainer
  configuration:
    - ansible
  cgroups:
    - libcgroup
    - libcgroup-tools
  debug:
    - lsof
    - nmap
    - strace
    - tcpdump
  development:
    - "@development"
    - git
    - jq
    - patch
  editors:
    - vim
    - nano
  fonts:
    - "{{ 'dejavu-fonts-common' if (ansible_facts['distribution_major_version'] == '8') else 'dejavu-fonts-all' }}"
    - dejavu-sans-fonts
    - dejavu-sans-mono-fonts
    - dejavu-serif-fonts
    - fontconfig
    - fontconfig-devel
    - fontpackages-filesystem
    - liberation-fonts-common
    - liberation-sans-fonts
    - libfontenc
    - mesa-libGL
    - perl-Digest-MD5
    - perl-Digest-SHA
    - urw-fonts
    - mkfontscale
  services:
    - {'package_name': 'at', 'daemon_name': 'atd'}
    - {'package_name': 'haveged', 'daemon_name': 'haveged'}
  pdf_export_deps:
    - cairo
    - cairo-devel
    - pango-devel
  terminals:
    - mosh
    - screen
    - tmux
  utils:
    - make
    - bind-utils
    - curl
    - libnsl
    - nfs-utils
    - tmpwatch
    - unzip
    - yum-utils
    - wget
    - bash-completion
